*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: mediumseagreen;
}

.adventure{
  padding-top: 30px;
  text-align: center;
  color: white;
  text-shadow: rgb(0, 100, 0) 4px 4px;
  font-size: 30px;
}

.maps{
  padding-top: 40px;
  margin-left: 20px;
}

